body{
    padding: 6.25em;
}
.submit-area{
    margin-top: 3.12em;
    padding: 2.5em;
    border-radius: 0.8em;
    box-shadow:0.31em 0.31em 1em gray ;
}
#transaction-area{
    display: none;
}
.status{
    color: white;
    margin: 0 1.25em;
    padding: 1.8em;
    border-radius: .9em;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightcoral;
}
.balance{
    background-color: orange;
}